.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.label {
  font-weight: var(--font-weight-semibold);
  font-size: 0.875rem;
  color: var(--color-foreground);
}

.input {
  background-color: var(--color-muted);
  border: none;
  padding: 0.75rem 1rem;
  border-radius: var(--radius-md);
  font-size: 1rem;
  color: var(--color-foreground);
  transition: all var(--transition-speed);
  outline: none;
}

.input:focus {
  background-color: var(--color-background);
  border: 2px solid var(--color-primary);
  padding: calc(0.75rem - 2px) calc(1rem - 2px);
}

.error {
  font-size: 0.75rem;
  color: #EF4444;
}
